@model CourseWorkDB.Models.Order

@{
    ViewBag.Title = "Удаление заказа";
}
<h2>Удаление заказа</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfSpentBonuses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfSpentBonuses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            <a href="@Url.Action("Index")">
                <span class="glyphicon glyphicon-backward"></span>
                Вернуться назад к списку заказов
            </a>
        </div>
    }
</div>
