@model CourseWorkDB.DAL.Entities.Order

@{
    ViewBag.Title = "Подробнее о заказе";
}

<h2>Подробнее о заказе</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime.ToShortDateString())
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfSpentBonuses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfSpentBonuses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
        

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", new {id = Model.Id})">
        <span class="glyphicon glyphicon-edit"></span>
        Редактировать
    </a>
    |
    <a href="@Url.Action("Index")">
        <span class="glyphicon glyphicon-backward"></span>
        Вернуться назад к списку заказов
    </a>
</p>
