@model CourseWorkDB.Models.Order

@{
    ViewBag.Title = "Подробнее о заказе";
}

<h2>Подробнее о заказе</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfSpentBonuses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfSpentBonuses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Dishes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dishes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться назад к списку заказов", "Index")
</p>
