@model CourseWorkDB.Models.Dish

@{
    ViewBag.Title = "Удаление блюда";
}

<h2>Удаление блюда</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CookingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CookingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            <a href="@Url.Action("Index")">
                <span class="glyphicon glyphicon-backward"></span>
                Вернуться назад к списку категорий
            </a>
        </div>
    }
</div>
